<section class="main">
    <div class="main-info">
        <h2>main coffee info</h2>
        <form action="">
            form
        </form>
    </div>
    <div class="coffee-features">
        <h2>Coffee Features</h2>
        <form action="">
            form
        </form>
    </div>
    <div class="coffee-score">
        <h2>Coffee score</h2>
        <form action="">
            form
        </form>
    </div>
    <div class="coffee-open">
        <h2>Opening Hours</h2>
        <form action="">
            form
        </form>
    </div>
    <div class="coffee-media">
        <h2>media info</h2>
        <form action="">
            form
        </form>
    </div>
    <div>
        <button>
            add coffee shop
        </button>
    </div>
</section>