{% from 'security/_render_error.html' import render_form_error %}
<section>
    <form method="POST" class="main">
        {{ form.csrf_token }}
        <div class="main-info">
            <h2>main coffee info</h2>
            {{ form.name(placeholder='Coffee Name', class='form-input') }}
            <!--Error -->
            {{ render_form_error(form.name) }}
            {{ form.map_url(placeholder='Address URL', class='form-input') }}
            <!--Error -->
            {{ render_form_error(form.map_url) }}
            {{ form.description(placeholder='Coffee Description', class='form-input') }}
            <!--Error -->
            {{ render_form_error(form.description) }}
        </div>
        <div class="coffee-features">
            <h2>Coffee Features</h2>
            <div class="features">
                <p class="subtitle">Productivity</p>
                <div class="form-items">
                    <p>
                        stable wifi
                        {{ form.wifi }}
                    </p>
                    <p>
                        power sockets
                        {{ form.power_socket }}
                    </p>
                    <p>
                        quiet
                        {{ form.quiet }}
                    </p>
                </div>

<!--             services-->
                <p class="subtitle">services</p>
                <div class="form-items">
                    <p>
                        Coffee
                        {{ form.coffee_service }}
                    </p>
                    <p>
                        food
                        {{ form.food_service }}
                    </p>
                    <p>
                        credit card
                        {{ form.credit_card_service }}
                    </p>
                </div>
            </div>
        </div>
        <div class="coffee-score">
            <h2>Coffee score</h2>
            {{ form.coffee(class='form-input') }}
            <!--Error -->
            {{ render_form_error(form.coffee) }}
            {{ form.wifi_score(class='form-input') }}
            <!--Error -->
            {{ render_form_error(form.wifi_score) }}
            {{ form.power(class='form-input') }}
            <!--Error -->
            {{ render_form_error(form.power) }}
        </div>
        <div class="coffee-open">
            <h2>Opening Hours</h2>
            {{ form.open(class='form-input') }}
            <!--Error -->
            {{ render_form_error(form.open) }}
            {{ form.close(class='form-input') }}
            <!--Error -->
            {{ render_form_error(form.close) }}
        </div>
        <div class="coffee-media">
            <h2>media info</h2>
            {{ form.image_url(placeholder='Image URL', class='form-input') }}
            <!--Error -->
            {{ render_form_error(form.image_url) }}
        </div>
        {{ form.submit }}
    </form>
</section>