{% extends 'base.html' %}

<!--css-->
{% block stylesheet %}
{% endblock stylesheet %}

<!--title-->
{% block title %} Login {% endblock title  %}

<!--content-->
{% block content %}
    <div>
<!--        img-->
        <div class="img-login">
            <img src="" alt="IMG">
        </div>
<!--        form-->
        <form method="POST" action="">
            {{ login_user_form.csrf_token }}
            {{ login_user_form.email }}
            {{ login_user_form.password }}
            {{ login_user_form.submit }}
        </form>
    </div>
{% endblock content %}