{% extends 'base.html' %}

<!--css-->
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock stylesheet %}

<!--title-->
{% block title %} Login {% endblock title  %}

<!--content-->
{% block content %}
    <div class="main-container">
<!--        img-->
        <div class="img-login">
        </div>
<!--        form-->
        <form method="POST" action="">
            {{ login_user_form.csrf_token }}
            {{ login_user_form.email }}
            {{ login_user_form.password }}
            {{ login_user_form.submit }}
        </form>
    </div>
{% endblock content %}