.main{
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    gap: 24px;
}


.main div p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: capitalize;
}

.main div h2{
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
}

.main .main-info, .coffee-score, .coffee-open, .coffee-media{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main .coffee-features{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main .coffee-features .features{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main .coffee-features .features .form-items{
    display: flex;
    gap: 24px;
}

.main div .subtitle{
    font-size: 24px;
}


.main .form-input{
    padding: 16px 16px;
    font-size: 20px;
    font-weight: 300;
    color: #C0C0C0;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

.main input[type=checkbox]{

}

.main input[type=submit]{
    padding: 16px 0px;
    font-family: "Open sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: none;
    background: #FB9600;
    cursor: pointer;
}

.main .error{
    font-size: 16px;
    font-weight: 300;
    color: red;
}

/* media queries */
@media screen and (max-width: 500px){
    .main .coffee-features .features .form-items{
        flex-direction: column;

    }

    .main .coffee-features .features .form-items p{
        display: flex;
        justify-content: space-between;
    }
}
