.hero{
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-image: url('/static/assets/img/hero.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 80px 80px;

}

.logo{
    width: 429px;
}

.tag-line{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.button-container{
    display: flex;
    flex-grow: 1;
    align-items: end;
    padding: 10px 10px;
}

.button-call-to-action{
    flex: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FB9600;
    padding: 16px 16px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

/* media queries */

@media screen and (max-width: 500px){
    .logo{
        width: 279px;
    }

    .hero{
        padding: 80px 10px 40px 10px;
    }

}
