nav{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    font-family: "Inter", sans-serif;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 16px 40px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    z-index: 20;
}

nav a{
    color: inherit;
}

nav .user-name{
    text-decoration: underline;
    cursor: pointer;
}


nav .menu{
    width: 264px;
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 24px 24px;
    color: black;
    background: white;
    border-radius: 8px;
}

nav .menu .menu-element{
    flex-grow: 1;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

nav .menu span{
    border: 1px solid black;
}

nav .menu a{
    text-decoration: none;
}

nav .menu .menu-element p{
    cursor: pointer;
}

nav .menu{
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s linear;
}

nav .test{
    visibility: visible;
    opacity: 1;
}

.mobile-menu{
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 100vh;
        background: #FB9600;
        padding: 16px 20px;
        font-family: "Inter", sans serif;
        font-size: 32px;
        font-weight: 800;
        color: white;
    }

.mobile-menu a{
    color: inherit;
    text-decoration: none;
}

#close{
   display: inline;
   cursor: pointer;
}

hide-nav{
    display: none;
}


/* media queries */

@media screen and (max-width: 500px){
    .mobile-show{
        display: flex;
    }

    .mobile-menu div{
        padding: 10px 10px;
    }

    .mobile-menu span{
        border: 1px solid white;
    }


}