<div class="coffee-card">
<!--                coffee single card-->
                    <img src="{{ coffee.image_url }}" alt="cofee img">
                    <h2 class="coffee-name">{{ coffee.name[0:14] }} {% if coffee.name|length > 14 %}...{% endif %}</h2>
                    <p>{{ coffee.description[0:227] }} {% if coffee.description|length > 227 %}...{% endif %}</p>
                    <a href="{{ url_for('show_coffee', slug=coffee.slug) }}">
                        <button>Read more</button>
                    </a>
<!--                    coffee features-->
                    <div class="coffee-features">
<!--                        map-->
                        <div class="line">
                            <h2>
                                <a href=""><i class="fa-solid fa-map"></i></a>
                            </h2>
                        </div>
<!--                        coffee-->
                         <div class="line">
                            <h2>
                                <a href=""><i class="fa-solid fa-mug-hot"></i></a>
                            </h2>
                        </div>
<!--                        wifi-->
                        <div>
                            <h2>
                                <a href=""><i class="fa-solid fa-wifi"></i></a>
                            </h2>
                        </div>
                    </div>
                </div>