<div class="coffee-card">
<!--                coffee single card-->
                    <img src="{{ url_for('static', filename='assets/img/coffee_1.jpg') }}" alt="cofee img">
                    <h2 class="coffee-name">coffee name</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button>Read more</button>
<!--                    coffee features-->
                    <div class="coffee-features">
<!--                        map-->
                        <div class="line">
                            <h2>map</h2>
                        </div>
<!--                        coffee-->
                         <div class="line">
                            <h2>coffee</h2>
                        </div>
<!--                        wifi-->
                        <div>
                            <h2>wifi</h2>
                        </div>
                    </div>
                </div>