    <footer>
<!--        logo-->
        <div class="container">
            <div class="side">
                <img src="{{ url_for('static', filename='assets/img/logo_wifi.svg') }}" alt="logo">
            </div>
    <!--        social networks-->
            <div class="side side_2">
                <h2>Contact US</h2>
                <div>
                    <img src="" alt="social 1">
                    <img src="" alt="social 2">
                    <img src="" alt="social 3 ">
                </div>
            </div>
        </div>
    </footer>