    <footer>
<!--        logo-->
        <div class="container">
            <div class="side">
                <img src="{{ url_for('static', filename='assets/img/logo_wifi.svg') }}" alt="logo">
            </div>
    <!--        social networks-->
            <div class="side side_2">
                <h2>Contact US</h2>
                <div class="social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Coffee & WIFI {{ current_year }}</p>
        </div>
    </footer>