    <section class="main-section">
<!--        main text-->
        <div class="title-section">
            <h2>Found {{ coffees|length }} Laptop Friendly Cafes in london</h2>
            <p>Whether you're traveling the globe as a digital nomad, working as a freelancer, or professional,
                or just looking for a place to study, finding a conducive and efficient workspace is essential.
                To address this, we've hand picked these cafes in <span>London</span> offering comfortable seating,
                high-speed free Wi-Fi, and numerous power outlets. These laptop friendly cafes offer an ideal setting
                for work, collaboration, city exploration, and productivity.
            </p>
        </div>
<!--        main coffee card-->
        <div class="main-coffee" id="feature-coffee">
            <h1>{{ best.name }}</h1>
            <h2>best rating laptop friendly coffee in london</h2>
            <img src="{{ best.image_url }}" alt="coffee shot img">
            <div>
                <a href="{{ url_for('show_coffee', slug=best.slug) }}">
                    <button>view more</button>
                </a>
            </div>
        </div>
<!--        grid coffe shop section-->
        <div class="coffee-grid-title">
            <h2 class="title">Explore the best coffee shops that we found for you in london</h2>
        </div>
            <div class="grid">
<!--                grid-->
<!--                card-->
                {% for coffee in coffees  %}
                    {% include "includes/coffee-card.html" %}
                {% endfor %}
            </div>
        <div class="view-more">
            <button>view more</button>
        </div>
    </section>