<nav id="nav" class="">
    <div class="user-menu">
        {% if current_user.is_authenticated %}
            {% set user_name = current_user.email.split('@')[0] %}
            <p class="user-name" id="username">{{ user_name }}</p>
        {% else %}

        <a href="{{ url_for('login') }}">
            <p>LOGIN</p>
        </a>
        {% endif %}
    </div>

    <div class="menu" id="menu">
        <div class="menu-element">
            <p>Add new coffee shop</p>
        </div>
        <span></span>
        <div class="menu-element">
            <a href="{{ url_for('security.logout') }}" >
                <p>Logout</p>
            </a>
        </div>
    </div>
</nav>

<!--mobile menu-->
<div class="mobile-menu" id="mobile-menu">
    <div>
        <p id="close">X</p>
    </div>

    <div>
        <p>Add new coffee shop</p>
    </div>
    <span></span>
    <div>
        <a href="{{ url_for('security.logout') }}"><p>Logout</p></a>
    </div>

</div>