<nav id="nav" class="">
    <div>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='assets/img/logo_wifi.svg') }}" alt="logo" width="60">
        </a>
    </div>

    <div class="nav">
        <div class="user-menu">
            {% if current_user.is_authenticated %}
                {% set user_name = current_user.email.split('@')[0] %}
                <p class="user-name" id="username">{{ user_name }}</p>
            {% else %}

            <a href="{{ url_for('login') }}">
                <p>LOGIN</p>
            </a>
            {% endif %}
        </div>
        {% if current_user.is_authenticated %}
            <div class="menu" id="menu">
                <div class="menu-element">
                    <a href="{{ url_for('add_coffee') }}" >
                        <p>Add new coffee shop</p>
                    </a>
                </div>
                <span></span>
                <div class="menu-element">
                    <a href="{{ url_for('security.logout') }}" >
                        <p>Logout</p>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</nav>

<!--mobile menu-->
<div class="mobile-menu" id="mobile-menu">
    <div>
        <p id="close">X</p>
    </div>

    <div>
        <p>Add new coffee shop</p>
    </div>
    <span></span>
    <div>
        <a href="{{ url_for('security.logout') }}"><p>Logout</p></a>
    </div>

</div>