<section class="main-content-coffee">
<!--    summary & description-->
    {% if coffee_shop_info.author.id == current_user.id %}
        <div class="coffee-control">
            <form action="{{ url_for('edit_coffee', slug=coffee_shop_info.slug) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="submit" value="Edit" class="edit">
            </form>
            <form action="{{ url_for('delete_coffee', slug=coffee_shop_info.slug) }}" method="POST" id="delete_form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="submit" value="Delete">
            </form>
        </div>
    {% endif %}

    <div class="coffee-summary">
        <h2>summary</h2>
        <p>
            {{ coffee_shop_info.description }}
        </p>
    </div>
<!--    map-->
    <div class="map-url" id="map">
        {{ coffee_shop_info.map_url|safe }}
    </div>
<!--    rating-->
    <div class="coffee-rating">
        <div>
            <p>coffee</p>
            <i class="fa-solid fa-mug-hot"></i>
            <div class="rating">
                {% for start in range( coffee_shop_info.coffee_rating ) %}
                    <i class="fa-solid fa-star"></i>
                {% endfor %}
            </div>
        </div>
        <div>
            <p>wifi</p>
            <i class="fa-solid fa-wifi"></i>
            <div class="rating">
                {% for start in range( coffee_shop_info.wifi_rating ) %}
                    <i class="fa-solid fa-star"></i>
                {% endfor %}
            </div>
        </div>
        <div>
            <p>sockets</p>
            <i class="fa-solid fa-plug"></i>
            <div class="rating">
                {% for start in range( coffee_shop_info.power_rating ) %}
                    <i class="fa-solid fa-star"></i>
                {% endfor %}
            </div>
        </div>
    </div>
<!--    features-->
    <div class="features" id="features">
        <div class="features-container">
            <h2>Features</h2>
    <!--        opening hours-->
            <div class="hour">
                <h3>Opening hours</h3>
                <p class="open">Open {{ coffee_shop_info.open }}</p>
                <p class="open">Close {{ coffee_shop_info.close }}</p>
            </div>
        </div>
<!--        productivity-->
        <div class="productivity">
            <h3>productivity</h3>
            <div class="container">
                <div>
                    <i class="fa-solid fa-wifi"></i>
                    <p>Stable wifi</p>
                    {% if not coffee_shop_info.wifi %}
                        <strong><i class="fa-solid fa-circle-xmark"></i></strong>
                    {% endif %}
                </div>
                <div>
                    <i class="fa-solid fa-plug"></i>
                    <p>Power sockets</p>
                    {% if not coffee_shop_info.power %}
                        <strong><i class="fa-solid fa-circle-xmark"></i></strong>
                    {% endif %}
                </div>
                <div>
                    <i class="fa-solid fa-volume-high"></i>
                    <p>Quiet</p>
                    {% if not coffee_shop_info.quiet %}
                        <strong><i class="fa-solid fa-circle-xmark"></i></strong>
                    {% endif %}
                </div>
            </div>
        </div>
<!--        service-->
        <div class="productivity">
            <h3>service</h3>
            <div class="container">
                <div>
                    <i class="fa-solid fa-mug-saucer"></i>
                    <p>coffee</p>
                    {% if not coffee_shop_info.coffee %}
                        <strong><i class="fa-solid fa-circle-xmark"></i></strong>
                    {% endif %}
                </div>
                <div>
                    <i class="fa-solid fa-burger"></i>
                    <p>Food</p>
                    {% if not coffee_shop_info.food %}
                        <strong><i class="fa-solid fa-circle-xmark"></i></strong>
                    {% endif %}
                </div>
                <div>
                    <i class="fa-solid fa-credit-card"></i>
                    <p>credit card</p>
                    {% if not coffee_shop_info.credit_card %}
                        <strong><i class="fa-solid fa-circle-xmark"></i></strong>
                    {% endif %}
                </div>
            </div>
        </div>
<!--    reviews-->
    <div class="reviews" id="reviews">
        {% if coffee_shop_info.comments %}
            <h2>Reviews</h2>
    <!--        comment-->

            {% for comment in coffee_shop_info.comments %}
                <div class="review">
                    <img src="{{ comment.comment_author.email | gravatar }}" alt="photo profile">
                        <p>
                            {{ comment.comment }}
                        </p>
                    {% if current_user.id == comment.user_id %}
                        <div class="owner">
                            <i class="fa-regular fa-pen-to-square" id="edit-comment"></i>
                            <form action="{{ url_for('delete_comment', comment_id=comment.id, slug=coffee_shop_info.slug) }}"
                                  method="POST" class="delete-comment-form" id="delete-comment-form">
                                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                            </form>
                            <i class="fa-solid fa-circle-xmark delete" id="delete-comment"></i>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <h3>No reviews yet</h3>
        {% endif %}
<!--        review form-->
        {% include 'includes/comment.html' %}
        {% if not current_user.comments %}
            <div>
                <button id="leave-comment" active_user="{{ current_user.is_authenticated }}">Leave a review</button>
            </div>
        {% endif %}
    </div>
</section>