<section class="main-content-coffee">
<!--    summary & description-->
    <div class="coffee-summary">
        <h2>summary</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
        </p>
    </div>
<!--    map-->
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9932.923543302248!2d-0.14883606619105147!3d51.508979999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487605f62e4e72fd%3A0xf97e38e733be85d6!2sChill%20House%20Coffee%20Shop!5e0!3m2!1ses-419!2sve!4v1722012360558!5m2!1ses-419!2sve" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">

        </iframe>
    </div>
<!--    rating-->
    <div class="coffee-rating">
        <div>
            <p>coffee</p>
            <i class="fa-solid fa-mug-hot"></i>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div>
            <p>wifi</p>
            <i class="fa-solid fa-wifi"></i>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
        <div>
            <p>sockets</p>
            <i class="fa-solid fa-plug"></i>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
    </div>
<!--    features-->
    <div class="features">
        <div class="features-container">
            <h2>Features</h2>
    <!--        opening hours-->
            <div class="hour">
                <h3>Opening hours</h3>
                <p class="open">open 11am</p>
                <p class="open">close 330pm</p>
            </div>
        </div>
<!--        productivity-->
        <div class="productivity">
            <h3>productivity</h3>
            <div class="container">
                <div>
                    <i class="fa-solid fa-wifi"></i>
                    <p>Stable wifi</p>
                </div>
                <div>
                    <i class="fa-solid fa-plug"></i>
                    <p>Power sockets</p>
                </div>
                <div>
                    <i class="fa-solid fa-volume-high"></i>
                    <p>Quiet</p>
                </div>
            </div>
        </div>
<!--        service-->
        <div class="productivity">
            <h3>service</h3>
            <div class="container">
                <div>
                    <i class="fa-solid fa-mug-saucer"></i>
                    <p>coffee</p>
                </div>
                <div>
                    <i class="fa-solid fa-burger"></i>
                    <p>Food</p>
                </div>
                <div>
                    <i class="fa-solid fa-credit-card"></i>
                    <p>credit card</p>
                </div>
            </div>
        </div>
<!--    reviews-->
    <div class="reviews">
        <h2>Reviews</h2>
<!--        comment-->
        <div class="review">
            <img src="{{ url_for('static', filename='assets/img/avatar.png') }}" alt="photo profile">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div>
            <button>Leave a review</button>
        </div>
    </div>
</section>