{% extends 'base.html' %}

<!--title-->
{% block title %} all coffee shops {% endblock title %}
<!--css-->
{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/coffee.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/all_coffee.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/coffee-card.css') }}">
{% endblock stylesheet %}

{% block content %}
<!--    header-->
    {% include 'includes/all_coffee_hero.html' %}
<!--content-->
    {% include 'all_coffee/content.html' %}
{% endblock content %}