{% extends 'base.html' %}

<!--css-->
{% block stylesheet %}
<!--    nav-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/coffee.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/coffee-style.css') }}">
{% endblock stylesheet %}

<!--title-->
{% block title %} Coffee name {% endblock title %}

<!--content-->
{% block content %}
<!--    hero section-->
    {% include 'coffee/hero.html' %}
<!--content-->
    {% include 'coffee/content.html' %}
{% endblock content %}

<!--js-->
{% block js %}
<script src="{{ url_for('static', filename='js/delete.js') }}">
</script>
{% endblock js %}