{% extends 'base.html' %}

<!--css-->
{% block stylesheet %}
<!--    hero-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hero.css') }}">
<!--    nav-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<!--    map-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
<!--    main-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coffee-card.css') }}">
<!--footer-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
{% endblock stylesheet %}
<!--title-->
{% block title %} Coffee & WIFI {% endblock title %}

{% block content %}
    <!--    hero section-->
    {% include "includes/hero.html" %}
    <!--    map section-->
    {% include "includes/map.html" %}
    <!--main section-->
    {% include "includes/main.html" %}
{% endblock content %}