{% extends 'base.html' %}

<!--css-->
{% block stylesheet %}
<!--    hero-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hero.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock stylesheet %}
<!--title-->
{% block title %} Coffee & WIFI {% endblock title %}

{% block content %}
    <!--    hero section-->
    {% include "includes/hero.html" %}
    <!--    map section-->
    {% include "includes/map.html" %}
    <!--main section-->
    {% include "includes/main.html" %}
{% endblock content %}